<h2>Edit the <%= @landmark.name %> Landmark</h2>
<form method="post" action="/landmarks/<%= @landmark.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name: <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"></label>
  <label>Year Completed: <input type="number" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>"></label>
  <input type="submit" value="Edit Landmark">
</form>
